@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 69px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

main {
    margin-top: 69px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main li,
button,
.answer {
    cursor: pointer
}

.user-nav {
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-nav span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    max-width: 250px;
    color: #B9B9B9;
}

.user-nav button {
    color: #EC362D;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    padding: 10px 15px;
    align-self: center;
    margin-top: 24px;
    transition: color 0.3s;
}

.user-nav button:hover {
    color: #FAFAFA;
    background: #EC362D;
}

.user-nav>ul {
    display: none;
}

.user-nav>ul {
    overflow-x: scroll;
}

.user-nav>ul>li {
    min-width: 340px;
    margin-right: 15px;
}

.user-nav>ul::-webkit-scrollbar {
    display: none;
}

.user-nav>.title {
    display: none;
}

/* COMEÇO - Edição para quando tiver items no localstorage */
.user-nav.has-data {
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.user-nav.has-data>span,
.user-nav.has-data>button {
    display: none;
}

.user-nav.has-data>ul {
    display: flex;
}

.user-nav.has-data>.title {
    display: flex;
    align-items: center;
}

.user-nav.has-data>ul>li>span {
    max-width: 100%;
    text-align: left;
    color: #FFFFFF;
    align-self:flex-start;
}

.user-nav.has-data>.title>p {
    display: inline;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 0px 0px 12px;
}

.user-nav.has-data>.title>ion-icon {
    display: initial;
    color: #EC362D;
    font-size: 31px;
    align-self: center;
    margin: 0 0 12px 17px;
}

/* FIM - Edição para quando tiver items no localstorage*/

.quizz>p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 77px 0px 12px;
}

.quizz>ul {
    width: 1051px;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.quizz>ul>li,
.user-nav.has-data>ul>li {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    background-position: center;
    background-image: cover;
    width: 340px;
    margin-bottom: 12px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 18px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.quizz img,
.user-nav.has-data img {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    object-fit: cover;
    position: absolute;
}

.quizz>ul>li>span {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.quizz .loading {
    width: 250px;
    height: 250px;
    position: initial;
    margin: auto;
    object-fit: none;
}

section {
    margin-top: 69px;
}

section,
.creation>div {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.creation>div>p {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 27px;
    margin-top: 71px;
}

.creation>div>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 21px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.creation>div>form>div {
    display: flex;
    flex-direction: column;
}

.creation>div>form>div:not(:last-child) {
    margin-bottom: 9px;
}

.creation>div>form>div>input {
    width: 564px;
    height: 46px;
    padding: 0 0 0 20px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}


.creation>div>button {
    width: 370px;
    height: 54px;
    border: none;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
    margin-top: 80px;
}

input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.creation>div>form>.validation-error>input {
    background-color: #FFE9E9;
}

.erro-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
    align-self: flex-start;
    display: none;
}

.validation-error>.erro-description {
    display: initial;
}

.hide {
    display: none !important;
}

.quizz-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    background-position: center;
    background-image: cover;
    margin-top: 69px;
    margin-bottom: 42px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    z-index: -1;
}

.banner span {
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-box {
    width: 759px;
    padding: 25px 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
}

.question {
    width: 688px;
    height: 137px;
    background: #434CA0;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question span {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
    word-break: break-word;

}

.answer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    margin-bottom: 35px;
}

.answer {
    display: flex;
    flex-direction: column;
}

.answer img {
    width: 330px;
    height: 175px;
    object-fit: cover;
    margin-bottom: 8px;
}

.answer span {
    width: 330px;
    word-break: break-word;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.quizz-result {
    width: 759px;
    padding: 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 57px;
}

.result-title {
    width: 727px;
    height: 99px;
    background: #EC362D;
    margin-bottom: 18px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-title span {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    width: 100%;
    word-break: break-all;
    max-height: 100%;
    overflow: hidden;
}

.result {
    display: flex;
    gap: 21px;
}

.result img {
    width: 364px;
    height: 273px;
    object-fit: cover;
}

.result span {
    width: 328px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    word-break: break-word;
    text-overflow: ellipsis;

}

.restart-button,
.home-button {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.restart-button {
    width: 260px;
    height: 52px;
    margin-bottom: 20px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
}

.home-button {
    color: #818181;
    border: none;
    background-color: transparent;
    margin-bottom: 85px;
}

.answered>div {
    opacity: 0.3;
}

.answered>.selection {
    opacity: 1;
}

.answered .v {
    color: #009C22;
}

.answered .f {
    color: #FF4B4B;
    ;
}

.creation .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.creation .second h1 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.creation .second p {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.creation .second form {
    position: relative;
    width: 375px;
    margin-top: 30px;
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.creation .second input {
    width: 340px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    font-style: italic;
}

.creation .second input::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #bababa;
}

.creation .second input::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #bababa;
}

.creation .second button {
    width: 325px;
    height: 55px;
    background-color: #ec362d;
    border: none;
    border-radius: 15px;
    columns: #fff;
    font-size: 18px;
    color: #fff;
}

.creation .second button:hover {
    cursor: pointer;
}

.create-quiz-questions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-quiz-questions div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.create-quiz-questions button {
    margin-top: 45px;
    margin-bottom: 60px;
}

.small-size {
    height: 74px;
    overflow: hidden;
}

.question-form p {
    position: absolute;
    left: 17px;
}

.question-form ion-icon {
    position: absolute;
    top: 27px;
    right: 14px;
    font-size: 26px;
    cursor: pointer;
}

.question-form p:first-of-type {
    top: 4px;
}

.question-form p:nth-of-type(2) {
    top: 179px;
}

.question-form p:nth-of-type(3) {
    top: 360px;
}

.question-form div:first-of-type {
    margin-top: 60px;
}

.question-form div:nth-of-type(2) {
    margin-top: 75px;
}

.question-form div:nth-of-type(3) {
    margin-top: 65px;
}

.question-form div:nth-of-type(4) {
    margin-top: 32px;
}

.question-form div:nth-of-type(5) {
    margin-top: 32px;
}

.create-quiz-levels {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-quiz-levels h1 {
    font-weight: bold;
    font-size: 20px;
}

.create-quiz-levels button {
    margin-top: 30px;
}

.creation .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.creation .third h1 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.creation .third p {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.creation .third form {
    position: relative;
    width: 375px;
    margin-top: 30px;
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.creation .third input {
    width: 340px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    font-style: italic;
}

.creation .third input::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #bababa;
}

.creation .third input::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #bababa;
}

.creation .third button {
    width: 325px;
    height: 55px;
    background-color: #ec362d;
    border: none;
    border-radius: 15px;
    columns: #fff;
    font-size: 18px;
    color: #fff;
}

.creation .third button:hover {
    cursor: pointer;
}


.create-quiz-levels textarea {
    width: 340px;
    height: 180px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    outline: 0;
}

.create-quiz-levels textarea::placeholder {
    font-size: 20px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: #bababa;
}

.levels-form p {
    position: absolute;
    left: 17px;
    top: 4px;
}

.levels-form ion-icon {
    position: absolute;
    top: 27px;
    right: 14px;
    font-size: 26px;
    cursor: pointer;
}

.levels-form input {
    width: 100%;
    height: 45px;
    margin-top: 14px;
    font-style: italic;
    font-size: 19px;
    padding-left: 17px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.levels-form div {
    margin-top: 45px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.final {
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1100px) {
    main {
        padding-top: 38px;
        height: auto;
    }

    main nav,
    .quizz>ul {
        width: 340px;
    }

    .user-nav {
        width: 340px;
    }

    .user-nav.has-data {
        height: auto;
    }

    .user-nav>.title {
        justify-content: space-between;
        width: 100%;
    }

    .user-nav.has-data>ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .user-nav>ul>li {
        margin-right: 0px;
    }

    .quizz>ul {
        height: auto;
    }

    .quizz>p {
        margin-top: 35px;
    }

    /* Creation quizz*/
    .creation>div>p {
        margin-top: 37px;
    }

    .creation>div>form {
        width: 375px;
    }

    .creation>div>form>div {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .creation>div>form>div>input {
        width: 100%;
    }

    .creation>div>button {
        width: 324px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFF5F4;
    }

    .banner {
        width: 100%;
        height: 38vw;
        margin-bottom: 24px;
    }

    .banner span {
        font-size: 5vw;
    }

    .question-box {
        width: 375px;
        padding: 18px;
        margin-bottom: 28px;
    }

    .question {
        width: 340px;
        height: 89px;
    }

    .question span,
    .result-title span {
        max-width: 308px;
        font-size: 19px;
        line-height: 22px;
        word-break: break-word;
    }

    .answer-box {
        gap: 12px;
        margin-bottom: 5px;
    }

    .answer img {
        width: 163px;
        height: 113px;
    }

    .answer span {
        width: 163px;
        font-size: 13px;
        line-height: 15px;
    }

    .quizz-result {
        width: 375px;
    }

    .result-title {
        width: 340px;
    }

    .result {
        flex-direction: column;
    }

    .result img {
        width: 340px;
        height: 255px;
    }

    .result span {
        width: 340px;
        font-size: 17px;
        line-height: 20px;
    }

    .restart-button,
    .home-button {
        width: 220px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;
    }

    .restart-button {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {

    /* Creation quizz */
    .creation>div>form,
    .question-box,
    .quizz-result {
        width: 100vw;
    }

}

@media (max-width: 340px) {

    main nav,
    .user-nav,
    .quizz>ul,
    .quizz>ul>li,
    .user-nav.has-data>ul>li {
        width: 100%;
    }

}

@media (max-width: 324px) {
    .creation>div>button {
        width: 100%;
    }

}